Shubham Jain Assignment 1

In [129]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [109]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (2).json

{'kaggle.json': b'{"username":"shubhamghuwara","key":"c2cc1d12836463c57027fd1608651242"}'}

In [110]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

In [111]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
application_test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
POS_CASH_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
credit_card_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
bureau_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
installments_payments.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
previous_application.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
bureau.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [112]:
! unzip \*.zip

Archive:  application_train.csv.zip
replace application_train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

KeyboardInterrupt: ignored

In [113]:
import numpy as np
import pandas as pd

import os

import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
print(os.listdir("/content/"))

['.config', 'application_train.csv', 'application_train.csv.zip', 'installments_payments.csv.zip', 'HomeCredit_columns_description.csv', 'bureau.csv', 'bureau_balance.csv', 'previous_application.csv', 'kaggle (2).json', 'bureau.csv.zip', 'sample_submission.csv', 'application_test.csv.zip', 'kaggle.json', 'credit_card_balance.csv.zip', 'credit_card_balance.csv', 'POS_CASH_balance.csv', 'application_test.csv', 'POS_CASH_balance.csv.zip', 'bureau_balance.csv.zip', 'previous_application.csv.zip', 'installments_payments.csv', 'kaggle (1).json', 'sample_data']

In [115]:
app_train = pd.read_csv('/content/application_train.csv')
print('Training data shape: ', app_train.shape)
app_train.head()

Training data shape:  (307511, 122)

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [97]:
app_test = pd.read_csv('/content/application_test.csv')
print('Testing data shape: ', app_test.shape)
app_test.head()

Testing data shape:  (48744, 121)

   SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
0      100001  ...                        0.0
1      100005  ...                        3.0
2      100013  ...                        4.0
3      100028  ...                        3.0
4      100038  ...                        NaN

[5 rows x 121 columns]

In [79]:
app_test.describe()

          SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
count   48744.000000  ...                42695.000000
mean   277796.676350  ...                    1.983769
std    103169.547296  ...                    1.838873
min    100001.000000  ...                    0.000000
25%    188557.750000  ...                    0.000000
50%    277549.000000  ...                    2.000000
75%    367555.500000  ...                    3.000000
max    456250.000000  ...                   17.000000

[8 rows x 105 columns]

In [80]:
app_test.shape

(48744, 121)

 EDA 

 Looking at the target variable 
 0 = loan paid on time
 1 = loan not paid on time

In [48]:
app_train["TARGET"].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [49]:
app_train["TARGET"].dtype

dtype('int64')

Look at missing values

In [51]:
app_train.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [98]:
numerical = app_test.select_dtypes(["float64","int64"])

In [53]:
len(numerical.columns)

105

In [116]:
for cols in numerical:
  app_train[cols] = app_train[cols].fillna(app_train.groupby("TARGET")[cols].transform("mean"))

In [117]:
categorical = app_train.select_dtypes('object')

In [118]:
len(categorical.columns)

16

In [119]:
for cols in categorical:
  app_train[cols] = app_train.groupby('TARGET')[cols].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))

In [120]:
for cols in app_train.columns:
  print("{}:{}".format(cols, app_train[cols].isna().sum()))

SK_ID_CURR:0
TARGET:0
NAME_CONTRACT_TYPE:0
CODE_GENDER:0
FLAG_OWN_CAR:0
FLAG_OWN_REALTY:0
CNT_CHILDREN:0
AMT_INCOME_TOTAL:0
AMT_CREDIT:0
AMT_ANNUITY:0
AMT_GOODS_PRICE:0
NAME_TYPE_SUITE:0
NAME_INCOME_TYPE:0
NAME_EDUCATION_TYPE:0
NAME_FAMILY_STATUS:0
NAME_HOUSING_TYPE:0
REGION_POPULATION_RELATIVE:0
DAYS_BIRTH:0
DAYS_EMPLOYED:0
DAYS_REGISTRATION:0
DAYS_ID_PUBLISH:0
OWN_CAR_AGE:0
FLAG_MOBIL:0
FLAG_EMP_PHONE:0
FLAG_WORK_PHONE:0
FLAG_CONT_MOBILE:0
FLAG_PHONE:0
FLAG_EMAIL:0
OCCUPATION_TYPE:0
CNT_FAM_MEMBERS:0
REGION_RATING_CLIENT:0
REGION_RATING_CLIENT_W_CITY:0
WEEKDAY_APPR_PROCESS_START:0
HOUR_APPR_PROCESS_START:0
REG_REGION_NOT_LIVE_REGION:0
REG_REGION_NOT_WORK_REGION:0
LIVE_REGION_NOT_WORK_REGION:0
REG_CITY_NOT_LIVE_CITY:0
REG_CITY_NOT_WORK_CITY:0
LIVE_CITY_NOT_WORK_CITY:0
ORGANIZATION_TYPE:0
EXT_SOURCE_1:0
EXT_SOURCE_2:0
EXT_SOURCE_3:0
APARTMENTS_AVG:0
BASEMENTAREA_AVG:0
YEARS_BEGINEXPLUATATION_AVG:0
YEARS_BUILD_AVG:0
COMMONAREA_AVG:0
ELEVATORS_AVG:0
ENTRANCES_AVG:0
FLOORSMAX_AVG:0
FLOORSMIN_AVG:0
LANDAREA_AVG:0
LIVINGAPARTMENTS_AVG:0
LIVINGAREA_AVG:0
NONLIVINGAPARTMENTS_AVG:0
NONLIVINGAREA_AVG:0
APARTMENTS_MODE:0
BASEMENTAREA_MODE:0
YEARS_BEGINEXPLUATATION_MODE:0
YEARS_BUILD_MODE:0
COMMONAREA_MODE:0
ELEVATORS_MODE:0
ENTRANCES_MODE:0
FLOORSMAX_MODE:0
FLOORSMIN_MODE:0
LANDAREA_MODE:0
LIVINGAPARTMENTS_MODE:0
LIVINGAREA_MODE:0
NONLIVINGAPARTMENTS_MODE:0
NONLIVINGAREA_MODE:0
APARTMENTS_MEDI:0
BASEMENTAREA_MEDI:0
YEARS_BEGINEXPLUATATION_MEDI:0
YEARS_BUILD_MEDI:0
COMMONAREA_MEDI:0
ELEVATORS_MEDI:0
ENTRANCES_MEDI:0
FLOORSMAX_MEDI:0
FLOORSMIN_MEDI:0
LANDAREA_MEDI:0
LIVINGAPARTMENTS_MEDI:0
LIVINGAREA_MEDI:0
NONLIVINGAPARTMENTS_MEDI:0
NONLIVINGAREA_MEDI:0
FONDKAPREMONT_MODE:0
HOUSETYPE_MODE:0
TOTALAREA_MODE:0
WALLSMATERIAL_MODE:0
EMERGENCYSTATE_MODE:0
OBS_30_CNT_SOCIAL_CIRCLE:0
DEF_30_CNT_SOCIAL_CIRCLE:0
OBS_60_CNT_SOCIAL_CIRCLE:0
DEF_60_CNT_SOCIAL_CIRCLE:0
DAYS_LAST_PHONE_CHANGE:0
FLAG_DOCUMENT_2:0
FLAG_DOCUMENT_3:0
FLAG_DOCUMENT_4:0
FLAG_DOCUMENT_5:0
FLAG_DOCUMENT_6:0
FLAG_DOCUMENT_7:0
FLAG_DOCUMENT_8:0
FLAG_DOCUMENT_9:0
FLAG_DOCUMENT_10:0
FLAG_DOCUMENT_11:0
FLAG_DOCUMENT_12:0
FLAG_DOCUMENT_13:0
FLAG_DOCUMENT_14:0
FLAG_DOCUMENT_15:0
FLAG_DOCUMENT_16:0
FLAG_DOCUMENT_17:0
FLAG_DOCUMENT_18:0
FLAG_DOCUMENT_19:0
FLAG_DOCUMENT_20:0
FLAG_DOCUMENT_21:0
AMT_REQ_CREDIT_BUREAU_HOUR:0
AMT_REQ_CREDIT_BUREAU_DAY:0
AMT_REQ_CREDIT_BUREAU_WEEK:0
AMT_REQ_CREDIT_BUREAU_MON:0
AMT_REQ_CREDIT_BUREAU_QRT:0
AMT_REQ_CREDIT_BUREAU_YEAR:0

Look at column data types

In [123]:
app_train = pd.get_dummies(app_train)


print('Training Features shape: ', app_train.shape)

Training Features shape:  (307511, 245)

In [124]:
X=app_train.drop(['TARGET','SK_ID_CURR'],axis=1)
Y=app_train['TARGET']

In [125]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=123)

In [126]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

classifier=LogisticRegression(max_iter=1000)
classifier.fit(X_train,Y_train)
pred=classifier.predict(X_test)
print(classification_report(pred,Y_test))

              precision    recall  f1-score   support

           0       1.00      0.92      0.96     61503
           1       0.00      0.00      0.00         0

    accuracy                           0.92     61503
   macro avg       0.50      0.46      0.48     61503
weighted avg       1.00      0.92      0.96     61503

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [127]:
from sklearn.ensemble import RandomForestClassifier

rf=RandomForestClassifier().fit(X_train,Y_train)
predictions=rf.predict(X_test)
print(classification_report(predictions,Y_test))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     56866
           1       0.92      1.00      0.96      4637

    accuracy                           0.99     61503
   macro avg       0.96      1.00      0.98     61503
weighted avg       0.99      0.99      0.99     61503

In [128]:
from xgboost import XGBClassifier

xgb = XGBClassifier(objective='binary:logistic')
xgb.fit(X_train,Y_train)
predictions=xgb.predict(X_test)
print(classification_report(predictions,Y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56662
           1       0.97      1.00      0.98      4841

    accuracy                           1.00     61503
   macro avg       0.98      1.00      0.99     61503
weighted avg       1.00      1.00      1.00     61503

In [130]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb.fit(X_train, Y_train)
predictions = nb.predict(X_test)

print(classification_report(predictions, Y_test))

              precision    recall  f1-score   support

           0       0.99      0.92      0.95     61104
           1       0.00      0.05      0.01       399

    accuracy                           0.91     61503
   macro avg       0.50      0.48      0.48     61503
weighted avg       0.99      0.91      0.95     61503

              precision    recall  f1-score   support

           0       0.99      0.92      0.95     61104
           1       0.00      0.05      0.01       399

    accuracy                           0.91     61503
   macro avg       0.50      0.48      0.48     61503
weighted avg       0.99      0.91      0.95     61503